@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scrollbar-gutter: stable;
    --nav-height: 4rem;
  }
}

@layer base {
  :root {
    --background: 18 51% 98%;
    --foreground: 18 50% 0%;
    --muted: 18 10% 87%;
    --muted-foreground: 18 15% 32%;
    --popover: 18 51% 98%;
    --popover-foreground: 18 50% 0%;
    --card: 18 51% 98%;
    --card-foreground: 18 50% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 18 83% 58%;
    --primary-foreground: 0 0% 0%;
    --secondary: 18 5% 87%;
    --secondary-foreground: 18 5% 27%;
    --accent: 18 14% 80%;
    --accent-foreground: 18 14% 20%;
    --destructive: 20 87% 25%;
    --destructive-foreground: 20 87% 85%;
    --ring: 18 83% 58%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --expo-out: linear(
      0 0%,
      0.1684 2.66%,
      0.3165 5.49%,
      0.446 8.52%,
      0.5581 11.78%,
      0.6535 15.29%,
      0.7341 19.11%,
      0.8011 23.3%,
      0.8557 27.93%,
      0.8962 32.68%,
      0.9283 38.01%,
      0.9529 44.08%,
      0.9711 51.14%,
      0.9833 59.06%,
      0.9915 68.74%,
      1 100%
    );
  }

  .dark {
    --background: 34 57% 0%;
    --foreground: 34 34% 98%;
    --muted: 34 35% 9%;
    --muted-foreground: 34 15% 64%;
    --popover: 34 57% 0%;
    --popover-foreground: 34 34% 98%;
    --card: 34 57% 0%;
    --card-foreground: 34 34% 98%;
    --border: 34 3% 14%;
    --input: 34 3% 14%;
    --primary: 34 90% 78%;
    --primary-foreground: 34 90% 18%;
    --secondary: 34 1% 8%;
    --secondary-foreground: 34 1% 68%;
    --accent: 34 11% 17%;
    --accent-foreground: 34 11% 77%;
    --destructive: 1 94% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 34 90% 78%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  strong {
    @apply text-primary !important;
  }

  .link {
    @apply text-primary transition-all duration-150 hover:text-primary/80 hover:underline hover:underline-offset-4;
  }

  pre,
  code {
    @apply whitespace-pre font-mono !important;
  }

  .skip-link {
    position: absolute;
    clip-path: rect(0px, 0px, 0px, 0px);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip-link:focus {
    position: static;
    clip-path: auto;
    padding: 12px;
    width: auto;
    height: auto;
    overflow: auto;
    text-decoration: underline;
    text-decoration-color: hsl(var(--primary));
    text-underline-offset: 0.4em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  ::view-transition-group(root) {
    animation-duration: 0.4s;
    animation-timing-function: var(--expo-out);
  }

  html:active-view-transition-type(switch-theme) {
    &::view-transition-group(root) {
      animation-duration: 0.7s;
      animation-timing-function: var(--expo-out);
    }

    &::view-transition-new(root) {
      animation-name: reveal-light;
    }

    &::view-transition-old(root),
    .dark::view-transition-old(root) {
      z-index: -1;
      animation: none;
    }

    .dark::view-transition-new(root) {
      animation-name: reveal-dark;
    }
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }

    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }

    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }

  .fade-up {
    animation: fade-up 0.4s var(--expo-out);
  }

  @keyframes fade-up {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  ::view-transition-group(root),
  ::view-transition-new(root),
  ::view-transition-old(root),
  .dark::view-transition-old(root),
  .dark::view-transition-new(root) {
    animation: none;
  }
}
