.home {
  display: grid;
  grid-template-columns: 1fr min(90ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 16px;

  & > * {
    grid-column: 2;
  }

  .full-width {
    @apply lg:col-span-full lg:mx-6;
  }

  .wider {
    @apply lg:col-span-full lg:mx-12;
  }
}
